# Copy to .env and fill in values
HELIUS_API_KEY=23ab58db-7fda-4488-a31b-22029f1c15e3
WEBHOOK_ID=optional_if_updating_existing
WEBHOOK_URL=https://helius.wonderswhisper.com/helius
WEBHOOK_SECRET=super-secret

# Database (SQLite by default)
DATABASE_URL="file:./dev.db"

# Server
PORT=8080